<header class="fixed top-0 py-14 w-full max-w-screen-3xl">
  <div class="grid md:grid-cols-2 md:justify-between md:gap-6">
    <div>
      <img
        src="../../assets/sai-kolluri.svg"
        alt="Sai Kolluri"
        class="h-10 w-auto filter invert"
      />
    </div>
    <div
      class="text-xl font-mono md:grid md:justify-items-end md:pr-40 md:py-0 hidden"
    >
      <a
        href="https://www.dropbox.com/scl/fi/i5wdpwma37nhpqzfzudv3/Sai-Sri-Rama-Kolluri-Resume-2024.pdf?rlkey=anf2t228qz52cvers2yqvowe1&dl=0"
        target="_blank"
        class="text-white hover:text-slate-50 hover:shadow-xl hover:outline hover:outline-offset-2 hover:outline-1 hover:outline-white hover:animate-pulse ease-in-out duration-200"
        >Resume</a
      >
    </div>
    <div class="md:hidden py-10">
      <div
        class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse"
      >
        <a
          href="mailto:ssr.karthikeya@gmail.com"
          class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <img
            src="../../assets/socials/email.svg"
            alt="Email"
            class="h-10 w-auto filter invert"
          />
          <span class="sr-only">Email</span>
        </a>
        <a
          href="https://github.com/ssrkarthikeya"
          target="_blank"
          class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <img
            src="../../assets/socials/github.svg"
            alt="Github"
            class="h-10 w-auto filter invert"
          />
          <span class="sr-only">Github Account</span>
        </a>
        <a
          href="https://www.linkedin.com/in/kollurisai/"
          target="_blank"
          class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
        >
          <img
            src="../../assets/socials/linkedin.svg"
            alt="Linkedin"
            class="h-10 w-auto filter invert"
          />
          <span class="sr-only">Linkedin</span>
        </a>
      </div>
    </div>
  </div>
</header>
