<div class="w-full font-mono">
  <div class="grid md:grid-cols-2 justify-between">
    <span
      class="text-[0.7rem] md:text-sm text-gray-500 dark:text-gray-300 md:text-left justify-items-center"
    >
      © 2024 Sai Kolluri. All Rights Reserved.
    </span>
    <div
      class="hidden md:flex mt-4 md:mt-0 space-x-5 rtl:space-x-reverse md:justify-end"
    >
      <a
        href="mailto:ssr.karthikeya@gmail.com"
        class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
      >
        <img
          src="../../assets/socials/email.svg"
          alt="Email"
          class="h-10 w-auto filter invert"
        />
        <span class="sr-only">Email</span>
      </a>
      <a
        href="https://github.com/ssrkarthikeya"
        target="_blank"
        class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
      >
        <img
          src="../../assets/socials/github.svg"
          alt="Github"
          class="h-10 w-auto filter invert"
        />
        <span class="sr-only">Github Account</span>
      </a>
      <a
        href="https://www.linkedin.com/in/kollurisai/"
        target="_blank"
        class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
      >
        <img
          src="../../assets/socials/linkedin.svg"
          alt="Linkedin"
          class="h-10 w-auto filter invert"
        />
        <span class="sr-only">Linkedin</span>
      </a>
      <a
        href="https://www.credly.com/users/sai-sri-rama-kolluri"
        target="_blank"
        class="text-gray-400 hover:text-gray-900 dark:hover:text-white"
      >
        <img
          src="../../assets/socials/credly-svgrepo-com.svg"
          alt="Linkedin"
          class="h-10 w-auto filter invert"
        />
        <span class="sr-only">Credly</span>
      </a>
    </div>
  </div>
</div>
