/* app.component.css */
.grid-pattern {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 3.9rem 3.9rem, 3.9rem 3.9rem, 100% 100%;
  animation: grid-animation 8s linear infinite;
}

@keyframes grid-animation {
  0% {
    background-position: 3.9rem 3.9rem, 3.9rem 3.9rem, 3.9rem 3.9rem;
  }

  100% {
    background-position: 0 0, 0 0, 0 0;
  }
}

/* Adjust background size for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .grid-pattern {
    background-size: 2.9rem 2.9rem, 2.9rem 2.9rem, 100% 100%;
  }
}

/* Adjust background size for screens smaller than 576px */
@media screen and (max-width: 576px) {
  .grid-pattern {
    background-size: 1.9rem 1.9rem, 1.9rem 1.9rem, 100% 100%;
  }
}

.pulsing-gradient {
  background: linear-gradient(to right, #041224, #132946, #365e75);
  background-size: 700% 700%;
  animation: pulse 40s infinite;
}

@keyframes pulse {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
